//npm init
//npm install gulp gulp-sass sass --save-dev
//npm install -g gulp-cli
//gulp.cmd

//variables & functions
@use "variables";
@use "mixins";
@use "keyframes"; //duong dan file
//base & layout
//colors
//components(button, card, navbar)
//utilities(margin, padding, opacity)

* {
  cursor: url("/images/standard.cur"), auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  body {
    //an scrollbar----------
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    //--------------------
    background-image: url(/images/bg.png);
    background-attachment: fixed;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    #nav-container {
      #menu {
        position: fixed;
        z-index: 999;
        right: 1em;
        top: 1em;
        font-size: 1.2em;
      }

      nav {
        display: flex;
        flex-flow: column wrap;
        @include mixins.menuPosition;
        width: 20vw;
        background-color: transparent;
        @include mixins.border;
        right: -40vh;
        overflow: hidden;
        transition: right 0.5s;

        a {
          text-decoration: none;
          color: variables.$black;
          padding: 0.5em;
          border-bottom: 1px solid;
          border-image-slice: 1;
          border-image-source: linear-gradient(-45deg, #743ad5, #d53a9d);
        }

        a:hover {
          background-image: linear-gradient(
            103.3deg,
            rgba(162, 186, 245, 1) 30%,
            rgba(255, 173, 214, 1) 55.7%,
            rgba(252, 225, 208, 1) 81.8%
          );
        }
      }
    }
    #content-wrapper {
      position: relative;
      margin: 0 auto;
      width: 90%;
      height: auto;
      top: 75vh;
      backdrop-filter: blur(20px);
      box-shadow: -2px -2px 12px 6px variables.$white;
      //  rgba(7, 1, 1, 0.5);
      border-radius: 7px;
      header {
        #animation {
          position: absolute;
          top: -12em;
          width: 30vw;
          height: 30vw;
          display: inline-block;
          background-image: url("/images/ani1.jfif");
          background-size: cover;
          background-repeat: no-repeat;
          animation: aniGirl 4s infinite;
          -webkit-animation: aniGirl 4s infinite;
          @include mixins.border;
        }

        h1 {
          position: absolute;
          top: -2em;
          right: 1.1em;
          font-size: 5vw;
          color: variables.$white;
          text-shadow: 0 0 7px variables.$white, 0 0 10px variables.$white,
            0 0 21px variables.$white, 0 0 42px variables.$pink,
            0 0 82px variables.$pink, 0 0 92px variables.$pink,
            0 0 102px variables.$pink, 0 0 151px variables.$pink;
          /* Additional styling */
          font-family: "Vibur", sans-serif;
          text-align: center;
          vertical-align: middle;
          font-weight: 400;
          line-height: 1;
          animation: pulsate 0.11s ease-in-out infinite alternate;
          -webkit-animation: pulsate 0.11s ease-in-out infinite alternate;
        }
      }

      main {
        font-size: 20px;
        h2 {
          padding: 0.5em 0;
        }

        a {
          text-decoration: none;
          color: variables.$pink;
          font-weight: bold;
        }

        a:hover {
          font-size: 2em;
          color: red;
          transition: 1s;
        }

        #greeting {
          position: relative;
          height: 30vh;
          width: 55vw;
          top: 1em;
          left: 35vw;
          pre {
            font-size: 24px;
            font-family: "Vibur", sans-serif;
          }
        }

        #skill {
          //section
          height: 65vh;

          ul {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            margin: 1em;

            li {
              list-style: none;
              height: 100%;
              width: 100%;
            }
          }
        }

        p {
          padding: 1em;
        }

        #project {
          height: 22vh;
        }

        #certificate {
          height: 60vh;

          #certi-container {
            @include mixins.flexContent;

            img {
              width: 20vw;
              height: 20vh;
            }
          }
        }

        #graphic {
          #graphic-container {
            @include mixins.flexContent;

            #graphic-1 {
              width: 45%;
              height: 45vh;
              margin: 0.5em;
              iframe {
                width: 100%;
                height: 100%;
              }
            }

            #graphic-2 {
              @extend #graphic-1;
            }
          }
        }

        #game {
          height: 100vh;

          #game-container {
            @include mixins.flexContent;

            img {
              width: 40vw;
              height: 50vh;
            }
          }
        }
      }

      footer {
        height: 32vh;
        margin-top: 5em;
        padding: 1em 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        #contact {
          div {
            span {
              display: inline-block;
              padding: 0.5em 0em;
            }
          }

          a {
            text-decoration: none;

            i {
              border-radius: 50%;
              background-color: variables.$black;
            }

            i:hover {
              color: variables.$black;
              background-color: variables.$white;
            }
          }
        }

        p {
          text-align: center;
          padding-bottom: 0.7em;
        }
      }
    }

    #scroll-top {
      position: fixed;
      z-index: 999;
      right: 1em;
      bottom: 1em;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      font-weight: bold;
      padding-top: 1em;
      width: 3em;
      height: 3em;
      border: 1px solid variables.$black;
      border-radius: 50%;
      background-color: #fdeff9;
      visibility: hidden;
    }

    #scroll-top:hover {
      box-shadow: 1px 1px 10px variables.$black;
    }
  }

  body::-webkit-scrollbar {
    //an scrollbar
    display: none;
  }
}

//d3
.d3-label {
  border-radius: 5px;
  margin: 5px 0;
  height: 25px;
}
.d3-bar {
  // background-color: #ffe7a9;
  background-color: variables.$orange;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 5px 0;
  // transition: width .5s cubic-bezier(1, .01, 0, 1);
  height: 25px;
}
