@use "keyframes"; //duong dan file
@use "variables";
@use "mixins";
@media (max-width: 1224px) {
  // html::before {
  //   z-index: -2;
  //   content: "";
  //   letter-spacing: 0.5em;
  //   text-shadow: 0 0 5px #000;
  //   white-space: pre;
  //   position: fixed;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   text-align: center;
  // }
  body,
  head {
    z-index: -1;
    display: block;
    font-size: 52px;
    color: transparent;
    // background-color: none;
    background-color: variables.$black;
  }

  body {
    background-image: none;
    // background-color: transparent;

    // .progress-bar-container {
    //   #wolf-gif {
    //     margin: 0 auto;
    //     top: 5vh;
    //     left: -15vw;
    //     width: 100vw;
    //     height: 75vh;
    //   }
    //   .progress-bar {
    //     height: 2px;
    //     width: 0%;
    //     top: 60%;
    //     #loading {
    //       left: 70%;
    //       top: 47%;
    //       width: min-content;
    //     }
    //     .count {
    //       left: 15%;
    //       top: 60%;
    //       width: min-content;
    //       font-size: 3rem;
    //     }
    //   }
    // }

    #nav-container {
      color: variables.$white;
      font-size: 18px;
      #navbar {
        background-color: variables.$black;
        // width: 35vw;
        width: 140px;
        a {
          color: variables.$white;
        }
      }
    }
    #content-wrapper {
      z-index: 2;
      color: variables.$white;
      top: 45vw;
      header {
        #animation {
          top: -15vw;
        }
        h1 {
          font-size: 6vw;
        }
      }
      main {
        font-size: 18px;
        #greeting {
          left: 13vw;
          pre {
            font-size: 3vw;
          }
        }
        #skill {
          ul {
            flex-direction: column;
            text-align: center;
            position: relative;

            li {
              margin: 1em;
            }
          }
        }
        #project {
          margin-top: 15vw;
          margin-bottom: 3vw;
          #project-list {   
            .project-item {
 
              &::before {
                content: "\2728";
              }
            }
          }
        }
        #graphic {
          #graphic-container {
            #graphic-3 {
              
            #rem-gif {
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
        }
      }
    }
    #scroll-top {
      color: variables.$black;
      font-size: 18px;
      visibility: visible !important;
    }
    footer {
      font-size: 18px;
    }
  }

  head::before,
  head::after,
  body::before,
  body::after {
    background-color: transparent;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: ".";
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
  }

  body::before {
    @include mixins.dots(40);
    animation-duration: 44s;
    animation-delay: -27s;
  }

  body::after {
    @include mixins.dots(40);
    animation-duration: 43s;
    animation-delay: -32s;
  }

  head::before {
    @include mixins.dots(40);
    animation-duration: 42s;
    animation-delay: -23s;
  }

  head::after {
    @include mixins.dots(40);
    animation-duration: 41s;
    animation-delay: -19s;
  }
}

@media (max-width: 1024px) {
  //ipad
  body {
    #content-wrapper {
      main {
        #greeting {
          height: 19vw;
        }
        #skill {
          height: 30.5em;
          ul {
            height: 25em;
            top: 2.5em;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  body {
    #content-wrapper {
      main {
        #certificate {
          height: 65vh;
          #certi-container {
            @include mixins.gridContent;
            img {
              width: 40vw;
              height: 20vh;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 414px) {
  //ip 6spl
  body {
    // .progress-bar-container {
    //   #wolf-gif {
    //     left: -20vw;
    //     width: 120vw;
    //     height: 75vh;
    //   }
    //   .progress-bar {
    //     top: 55%;
    //     #loading {
    //       left: 66%;
    //       top: 50%;
    //       font-size: 2rem;
    //     }
    //     .count {
    //       left: 40%;
    //       top: 55%;
    //     }
    //   }
    // }
    #content-wrapper {
      main {
        #skill {
          height: 36.5em;
          ul {
            height: 33em;
            top: 1em;
          }
        }

        #graphic {
          #graphic-container {
            #graphic-1 {
              width: 100%;
              height: 45vh;
              iframe {
                width: 100%;
                height: 100%;
              }
            }

            #graphic-2 {
              @extend #graphic-1;
            }
          }
        }
      }
    }
  }
}
@media (max-height: 414px) {
  //ip mh ngang
  body {
    #content-wrapper {
      main {
        #skill {
          height: 35em;
          ul {
            top: 5em;
          }
        }
      }
    }
  }
}

/* hay vcl:)))
html {
	height: 100%;
	// max-height: 600px; 
	width: 1000px;
	background-color: hsla(200,40%,30%,.4);
	background-image:		
		url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
	background-repeat: repeat-x;
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}
  */
