@media (max-width: 1224px) {
  body {
    background-image: url(/images/bg2.JPG);
    #content-wrapper {
      top: 45vw;
      header {
        #animation {
          top: -15vw;
        }
      }
      main {
        font-size: 18px;
        #greeting {
          left: 13vw;
          pre {
            font-size: 3vw;
          }
        }
        #skill {
          ul {
            height: 45vh;
            flex-direction: column;
            text-align: center;

            li {
              margin: 1em;
            }
          }
        }
        #project{
          margin-top:5vh;
        }
      }
    }
    #scroll-top {
      visibility: visible !important;
    }
  }
}

@media (max-width: 1024px) {
  //ipad
  body {
    #nav-container {

      #navbar {
        width: 20vh;
      }
    }
    #content-wrapper {
      main {
        #greeting {
          height: 19vw;
        }
      }
    }
  }
}

@media (max-width: 414px) {
  //ip 6spl
  body {
    #content-wrapper {
      main {
        #skill {
          margin-bottom: 10vw;
        }

        #graphic {
          #graphic-container {
            #graphic-1 {
              width: 100%;
              height: 45vh;
              iframe {
                width: 100%;
                height: 100%;
              }
            }

            #graphic-2 {
              @extend #graphic-1;
            }
          }
        }
      }
    }
  }
}
