//npm init
//npm install gulp gulp-sass sass --save-dev
//npm install -g gulp-cli
//gulp.cmd

@use "keyframes"; //duong dan file
@use "mixins";
@use "responsive";
@use "variables";

* {
  cursor: url("/images/standard.cur"), auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  body {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    //an scrollbar----------
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    //--------------------
    /* fallback for old browsers */
    background: -webkit-linear-gradient(
        -45deg,
        #fdeff9,
        #ec38bc,
        #7303c0,
        #03001e
      )
      fixed;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        -45deg,
        #03001e,
        #7303c0,
        #ec38bc,
        #fdeff9,
        rgb(238, 213, 233)
      )
      fixed;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: bgGrad 15s ease infinite;
    -webkit-animation: bgGrad 15s ease infinite;
    background-size: 650% 650%;
    background-repeat: no-repeat;

    header {
      display: flex;
      flex-direction: row;

      #animation {
        width: 15vw;
        height: 15vw;
        flex: 15;
        display: inline-block;
        background-image: url("/images/ani1.jfif");
        background-size: cover;
        background-repeat: no-repeat;
        animation: aniGirl 4s infinite;
        -webkit-animation: aniGirl 4s infinite;
        @include mixins.border;
      }

      h1 {
        flex: 80;
        font-size: 5vw;
        margin-top: 5vh;
        color: variables.$white;
        text-shadow: 0 0 7px variables.$white, 0 0 10px variables.$white, 0 0 21px variables.$white,
          0 0 42px variables.$pink, 0 0 82px variables.$pink, 0 0 92px variables.$pink, 0 0 102px variables.$pink,
          0 0 151px variables.$pink;
        /* Additional styling */
        font-family: "Vibur", sans-serif;
        text-align: center;
        vertical-align: middle;
        font-weight: 400;
        line-height: 1;
        animation: pulsate 0.11s ease-in-out infinite alternate;
        -webkit-animation: pulsate 0.11s ease-in-out infinite alternate;
      }
    }

    #menu {
      position: fixed;
      z-index: 999;
      right: 1em;
      top: 1em;
      font-size: 1.2em;
    }

    nav {
      display: flex;
      flex-flow: column wrap;
      @include mixins.menuPosition;
      width: 20vw;
      background-color: transparent;
      @include mixins.border;
      visibility: hidden;
      overflow: hidden;

      a {
        text-decoration: none;
        color: variables.$black;
        padding: 0.5em;
        border-bottom: 1px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(-45deg, #743ad5, #d53a9d);
      }

      a:hover {
        background-image: linear-gradient(
          103.3deg,
          rgba(162, 186, 245, 1) 30%,
          rgba(255, 173, 214, 1) 55.7%,
          rgba(252, 225, 208, 1) 81.8%
        );
      }
    }

    main {
      margin: 1em;

      h2 {
        padding: 0.5em 0;
      }

      a {
        text-decoration: none;
      }

      a:hover {
        font-size: 2em;
        color: red;
        transition: 1s;
      }

      #greeting {
        pre {
          font-family: "Vibur", sans-serif;
        }
      }

      #skill {
        //section
        height: 50vh;

        ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 1em;

          li {
            list-style: none;
          }
        }
      }

      p {
        padding: 1em;
      }

      #project {
        height: 20vh;
      }

      #certificate {
        height: 60vh;

        #certi-container {
          @include mixins.flexContent;

          img {
            width: 20vw;
            height: 20vh;
          }
        }
      }

      #graphic {
        // height: 70vh;

        #graphic-container {
          @include mixins.flexContent;

          iframe {
            width: 43vw;
            height: 50vw;
          }
        }
      }

      #game {
        height: 100vh;

        #game-container {
          @include mixins.flexContent;

          img {
            width: 40vw;
            height: 50vh;
          }
        }
      }
    }

    #scroll-top {
      position: fixed;
      z-index: 999;
      right: 1em;
      bottom: 1em;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      font-weight: bold;
      padding-top: 1em;
      width: 3em;
      height: 3em;
      border: 1px solid variables.$black;
      border-radius: 50%;
      background-color: #fdeff9;
    }

    #scroll-top:hover {
      box-shadow: 1px 1px 10px variables.$black;
    }

    footer {
      height: 60vh;
      margin-top: 4em;
      padding: 1em 1em;

      div {
        span {
          display: inline-block;
          padding: 0.5em 0em;
        }
      }

      a {
        text-decoration: none;

        i {
          border-radius: 50%;
          background-color: variables.$black;
        }

        i:hover {
          color: variables.$black;
          background-color: variables.$white;
        }
      }

      p {
        text-align: center;
      }
    }
  }

  body::-webkit-scrollbar {
    //an scrollbar
    display: none;
  }
}
