@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09, 0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}
@-webkit-keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09, 0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}
@keyframes aniGirl {
  0% {
    background-image: url("/images/ani1.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  16% {
    background-image: url("/images/ani2.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  32% {
    background-image: url("/images/ani3.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  48% {
    background-image: url("/images/ani4.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  64% {
    background-image: url("/images/ani5.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  80% {
    background-image: url("/images/ani6.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
@-webkit-keyframes aniGirl {
  0% {
    background-image: url("/images/ani1.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  16% {
    background-image: url("/images/ani2.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  32% {
    background-image: url("/images/ani3.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  48% {
    background-image: url("/images/ani4.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  64% {
    background-image: url("/images/ani5.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  80% {
    background-image: url("/images/ani6.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
@keyframes bgGrad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes bgGrad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes para {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%, 400px 0;
  }
}
@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
* {
  cursor: url("/images/standard.cur"), auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
* body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  background-image: url(/images/bg.png);
  background-attachment: fixed;
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
* body #nav-container #menu {
  position: fixed;
  z-index: 999;
  right: 1em;
  top: 1em;
  font-size: 1.2em;
}
* body #nav-container nav {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  z-index: 999;
  right: 1em;
  top: 1em;
  width: 20vw;
  background-color: transparent;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(-45deg, #743ad5, #d53a9d);
  right: -40vh;
  overflow: hidden;
  transition: right 0.5s;
}
* body #nav-container nav a {
  text-decoration: none;
  color: black;
  padding: 0.5em;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(-45deg, #743ad5, #d53a9d);
}
* body #nav-container nav a:hover {
  background-image: linear-gradient(103.3deg, #a2baf5 30%, #ffadd6 55.7%, #fce1d0 81.8%);
}
* body #content-wrapper {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: auto;
  top: 75vh;
  backdrop-filter: blur(20px);
  box-shadow: -2px -2px 12px 6px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
* body #content-wrapper header #animation {
  position: absolute;
  top: -12em;
  width: 30vw;
  height: 30vw;
  display: inline-block;
  background-image: url("/images/ani1.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  animation: aniGirl 4s infinite;
  -webkit-animation: aniGirl 4s infinite;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(-45deg, #743ad5, #d53a9d);
}
* body #content-wrapper header h1 {
  position: absolute;
  top: -2em;
  right: 1.1em;
  font-size: 5vw;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09, 0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
  /* Additional styling */
  font-family: "Vibur", sans-serif;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  line-height: 1;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  -webkit-animation: pulsate 0.11s ease-in-out infinite alternate;
}
* body #content-wrapper main {
  font-size: 20px;
}
* body #content-wrapper main h2 {
  padding: 0.5em 0;
}
* body #content-wrapper main a {
  text-decoration: none;
  color: #f09;
  font-weight: bold;
}
* body #content-wrapper main a:hover {
  font-size: 2em;
  color: red;
  transition: 1s;
}
* body #content-wrapper main #greeting {
  position: relative;
  height: 30vh;
  width: 55vw;
  top: 1em;
  left: 35vw;
}
* body #content-wrapper main #greeting pre {
  font-size: 24px;
  font-family: "Vibur", sans-serif;
}
* body #content-wrapper main #skill {
  height: 50vh;
}
* body #content-wrapper main #skill ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}
* body #content-wrapper main #skill ul li {
  list-style: none;
}
* body #content-wrapper main p {
  padding: 1em;
}
* body #content-wrapper main #project {
  height: 22vh;
}
* body #content-wrapper main #certificate {
  height: 60vh;
}
* body #content-wrapper main #certificate #certi-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1em;
}
* body #content-wrapper main #certificate #certi-container img:hover {
  box-shadow: 2px 2px 5px 5px #0d102e;
}
* body #content-wrapper main #certificate #certi-container img {
  width: 20vw;
  height: 20vh;
}
* body #content-wrapper main #graphic #graphic-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1em;
}
* body #content-wrapper main #graphic #graphic-container img:hover {
  box-shadow: 2px 2px 5px 5px #0d102e;
}
* body #content-wrapper main #graphic #graphic-container #graphic-1, * body #content-wrapper main #graphic #graphic-container #graphic-2 {
  width: 45%;
  height: 45vh;
  margin: 0.5em;
}
* body #content-wrapper main #graphic #graphic-container #graphic-1 iframe, * body #content-wrapper main #graphic #graphic-container #graphic-2 iframe {
  width: 100%;
  height: 100%;
}
* body #content-wrapper main #game {
  height: 100vh;
}
* body #content-wrapper main #game #game-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1em;
}
* body #content-wrapper main #game #game-container img:hover {
  box-shadow: 2px 2px 5px 5px #0d102e;
}
* body #content-wrapper main #game #game-container img {
  width: 40vw;
  height: 50vh;
}
* body #content-wrapper footer {
  height: 30vh;
  margin-top: 5em;
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
* body #content-wrapper footer #contact div span {
  display: inline-block;
  padding: 0.5em 0em;
}
* body #content-wrapper footer #contact a {
  text-decoration: none;
}
* body #content-wrapper footer #contact a i {
  border-radius: 50%;
  background-color: black;
}
* body #content-wrapper footer #contact a i:hover {
  color: black;
  background-color: #fff;
}
* body #content-wrapper footer p {
  text-align: center;
}
* body #scroll-top {
  position: fixed;
  z-index: 999;
  right: 1em;
  bottom: 1em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding-top: 1em;
  width: 3em;
  height: 3em;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #fdeff9;
  visibility: hidden;
}
* body #scroll-top:hover {
  box-shadow: 1px 1px 10px black;
}
* body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1224px) {
  html::before {
    content: "";
    letter-spacing: 0.5em;
    text-shadow: 0 0 5px #000;
    white-space: pre;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: transparent;
  }

  body,
head {
    z-index: 2;
    display: block;
    font-size: 52px;
    color: transparent;
  }

  body {
    background-image: none;
    background-color: transparent;
  }
  body #nav-container {
    color: black;
    background: transparent;
    font-size: 18px;
  }
  body #nav-container #navbar {
    width: 140px;
  }
  body #content-wrapper {
    z-index: 3;
    color: black;
    top: 45vw;
  }
  body #content-wrapper header #animation {
    top: -15vw;
  }
  body #content-wrapper main {
    font-size: 18px;
  }
  body #content-wrapper main #greeting {
    left: 13vw;
  }
  body #content-wrapper main #greeting pre {
    font-size: 3vw;
  }
  body #content-wrapper main #skill ul {
    height: 45vh;
    flex-direction: column;
    text-align: center;
  }
  body #content-wrapper main #skill ul li {
    margin: 1em;
  }
  body #content-wrapper main #project {
    margin-top: 5vh;
  }
  body #scroll-top {
    color: black;
    font-size: 18px;
    visibility: visible !important;
  }
  body footer {
    font-size: 18px;
  }

  head::before,
head::after,
body::before,
body::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: ".";
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
  }

  body::before {
    text-shadow: 1.149616478em 2.4457427118em 7px rgba(222, 255, 0, 0.9), 0.5842617489em 1.7571445725em 7px rgba(255, 254, 0, 0.9), 0.9907623239em 1.4617519185em 7px rgba(231, 255, 0, 0.9), -0.2560385654em 1.5690726788em 7px rgba(255, 0, 156, 0.9), 0.1703374706em 1.5698930347em 7px rgba(209, 0, 255, 0.9), 0.6746183986em 1.3004339415em 7px rgba(0, 174, 255, 0.9), 0.562181344em -0.2934656943em 7px rgba(0, 84, 255, 0.9), -0.1695562957em 0.7835027908em 7px rgba(4, 0, 255, 0.9), 0.5347760746em 2.0992812571em 7px rgba(0, 167, 255, 0.9), 2.4758921916em 0.0633008229em 7px rgba(255, 245, 0, 0.9), 0.4890153298em 0.9088463858em 7px rgba(108, 0, 255, 0.9), -0.4677452655em 0.5125149155em 7px rgba(154, 0, 255, 0.9), 2.182313966em 1.9695266293em 7px rgba(166, 0, 255, 0.9), 0.8046706257em 2.3054029731em 7px rgba(255, 136, 0, 0.9), 0.7466734326em 2.2041400439em 7px rgba(255, 154, 0, 0.9), 1.567177883em 0.4212153805em 7px rgba(255, 0, 0, 0.9), 0.5550833653em -0.2712019517em 7px rgba(0, 140, 255, 0.9), 2.0074338912em -0.1703030985em 7px rgba(255, 0, 75, 0.9), 1.8919904726em 1.6428266302em 7px rgba(255, 0, 149, 0.9), 1.5246157606em 0.1061605118em 7px rgba(0, 255, 199, 0.9), 1.5469370795em 1.4826507956em 7px rgba(0, 87, 255, 0.9), 0.8344924219em -0.4098095005em 7px rgba(0, 108, 255, 0.9), 2.2882208044em 1.8784923845em 7px rgba(255, 189, 0, 0.9), 2.460725366em 0.3291200333em 7px rgba(255, 149, 0, 0.9), 1.395385144em 1.7582409867em 7px rgba(183, 0, 255, 0.9), 2.1870712964em -0.2679834667em 7px rgba(255, 210, 0, 0.9), -0.3711805724em 1.2479880112em 7px rgba(127, 255, 0, 0.9), 1.4163222779em 0.1756727168em 7px rgba(255, 0, 248, 0.9), 1.9826842193em 2.0483113036em 7px rgba(0, 80, 255, 0.9), 0.5937909238em 0.0352194055em 7px rgba(255, 0, 234, 0.9), -0.4138521148em 1.4389451075em 7px rgba(255, 214, 0, 0.9), 1.5983669316em -0.2567452732em 7px rgba(255, 74, 0, 0.9), 2.3033804776em -0.4819473435em 7px rgba(0, 255, 253, 0.9), 1.5461348826em 0.2509740235em 7px rgba(75, 255, 0, 0.9), 1.4328637146em -0.0422757408em 7px rgba(32, 255, 0, 0.9), 0.050738818em 1.7647230919em 7px rgba(0, 92, 255, 0.9), -0.1722572121em 0.6668191746em 7px rgba(153, 255, 0, 0.9), -0.3101059379em 2.3863569019em 7px rgba(0, 1, 255, 0.9), 1.5544107977em -0.0623714471em 7px rgba(107, 0, 255, 0.9), -0.4364686207em 1.7192236251em 7px rgba(50, 255, 0, 0.9), 0.4072803512em 1.8891175235em 7px rgba(255, 0, 117, 0.9);
    animation-duration: 44s;
    animation-delay: -27s;
  }

  body::after {
    text-shadow: -0.14813779em 2.4937210643em 7px rgba(255, 0, 53, 0.9), -0.3927745798em 0.124472902em 7px rgba(122, 0, 255, 0.9), 1.5014214971em 0.3282844995em 7px rgba(245, 255, 0, 0.9), 1.2273111254em 1.2108356414em 7px rgba(134, 0, 255, 0.9), 2.0639155649em -0.1645736593em 7px rgba(255, 0, 185, 0.9), 0.3967850297em -0.0072815908em 7px rgba(242, 0, 255, 0.9), 0.3640499198em -0.2260353966em 7px rgba(255, 0, 126, 0.9), 2.2445425127em 2.3133075025em 7px rgba(255, 79, 0, 0.9), 1.3789458387em 1.8016366043em 7px rgba(64, 255, 0, 0.9), -0.1051542695em 0.0508954285em 7px rgba(0, 255, 159, 0.9), 0.9680206445em 0.7775216694em 7px rgba(74, 255, 0, 0.9), 0.7552217158em 1.2165049395em 7px rgba(255, 0, 96, 0.9), 1.0594695702em 0.6043674491em 7px rgba(255, 0, 176, 0.9), 2.088898674em 2.2560347915em 7px rgba(0, 196, 255, 0.9), 1.8259364281em -0.315905243em 7px rgba(255, 0, 50, 0.9), 2.0575854062em 1.5381879215em 7px rgba(255, 22, 0, 0.9), -0.0652949057em 1.7346390226em 7px rgba(255, 21, 0, 0.9), 1.6652808261em 0.4181140521em 7px rgba(142, 0, 255, 0.9), 1.1889545119em 1.2296413508em 7px rgba(0, 255, 85, 0.9), 1.0687484003em 2.455496825em 7px rgba(222, 0, 255, 0.9), 0.6221115909em 0.0716192881em 7px rgba(171, 0, 255, 0.9), 0.8034150349em 0.4372521298em 7px rgba(255, 0, 241, 0.9), 2.4129828373em 2.1637953987em 7px rgba(0, 58, 255, 0.9), -0.0840929587em 1.2382102346em 7px rgba(255, 0, 225, 0.9), 0.7989895802em 0.3338690825em 7px rgba(0, 255, 120, 0.9), 0.2823565331em 1.1347483258em 7px rgba(130, 255, 0, 0.9), 1.4000171744em -0.3450235491em 7px rgba(255, 0, 158, 0.9), 2.4193960676em 1.7374786023em 7px rgba(91, 255, 0, 0.9), 0.5383609389em 2.2058871877em 7px rgba(56, 255, 0, 0.9), 0.747158806em 0.9488078424em 7px rgba(255, 203, 0, 0.9), 1.3580519327em 0.1623309366em 7px rgba(255, 52, 0, 0.9), 0.7718403442em 0.1515498139em 7px rgba(255, 0, 53, 0.9), 0.342698048em 0.5714029981em 7px rgba(211, 255, 0, 0.9), 0.0373488468em 0.4306433172em 7px rgba(255, 0, 214, 0.9), 1.9248865961em 0.5965908681em 7px rgba(157, 0, 255, 0.9), 1.7627080722em 0.6562167657em 7px rgba(0, 255, 78, 0.9), 0.1916073204em 2.4420373324em 7px rgba(0, 255, 17, 0.9), -0.3260638669em -0.3566661996em 7px rgba(0, 255, 97, 0.9), 2.0527622782em -0.3758274156em 7px rgba(255, 0, 208, 0.9), 1.5504009034em 0.7705488648em 7px rgba(0, 0, 255, 0.9), 0.4092801371em 2.3789043686em 7px rgba(0, 255, 5, 0.9);
    animation-duration: 43s;
    animation-delay: -32s;
  }

  head::before {
    text-shadow: -0.4736447221em 0.0773816373em 7px rgba(255, 113, 0, 0.9), 0.0088447455em 0.1755815747em 7px rgba(255, 0, 3, 0.9), 1.9756743016em 1.0743353365em 7px rgba(255, 99, 0, 0.9), 0.9287823203em 1.0159963035em 7px rgba(0, 36, 255, 0.9), -0.3103312693em 1.3722381007em 7px rgba(156, 0, 255, 0.9), 0.1460255703em 0.9634066434em 7px rgba(66, 255, 0, 0.9), 0.9667192567em 0.3859896016em 7px rgba(59, 255, 0, 0.9), 1.5512850359em 0.6169994109em 7px rgba(255, 0, 14, 0.9), 1.3572184694em -0.0225373645em 7px rgba(0, 255, 139, 0.9), 0.8525955257em 0.0456393456em 7px rgba(246, 0, 255, 0.9), 2.4990494286em -0.2752511811em 7px rgba(70, 255, 0, 0.9), 0.9734769414em 2.0054467497em 7px rgba(255, 143, 0, 0.9), 2.4157569039em 1.9160252079em 7px rgba(187, 0, 255, 0.9), 1.9787401543em 2.1977622457em 7px rgba(167, 0, 255, 0.9), 2.4434561223em 0.1884790761em 7px rgba(255, 159, 0, 0.9), 2.3474813066em -0.0143478795em 7px rgba(210, 255, 0, 0.9), 2.4912845703em 1.5256283458em 7px rgba(148, 0, 255, 0.9), 2.4908152454em 0.4097246331em 7px rgba(0, 176, 255, 0.9), 1.7867044262em 1.3008315001em 7px rgba(0, 255, 102, 0.9), 0.5581377675em 1.3967869101em 7px rgba(0, 193, 255, 0.9), 1.027868389em -0.0533677888em 7px rgba(255, 217, 0, 0.9), 0.8617916569em 0.7675282898em 7px rgba(255, 0, 120, 0.9), 0.4988678064em 1.9811257462em 7px rgba(225, 255, 0, 0.9), -0.4639697088em 0.0688676036em 7px rgba(255, 30, 0, 0.9), -0.4656887484em 1.6270170337em 7px rgba(95, 0, 255, 0.9), 1.7122072109em 1.1044325438em 7px rgba(121, 255, 0, 0.9), -0.2417884323em 0.4165659301em 7px rgba(0, 98, 255, 0.9), 0.4897517562em 1.9715755389em 7px rgba(255, 179, 0, 0.9), 0.5698944018em -0.0807816757em 7px rgba(255, 106, 0, 0.9), 2.1790664814em -0.1111065764em 7px rgba(26, 255, 0, 0.9), 1.5453559896em 0.3376323186em 7px rgba(55, 255, 0, 0.9), -0.3599908342em 1.7570883735em 7px rgba(0, 255, 190, 0.9), 2.2382440663em 2.2272760106em 7px rgba(0, 28, 255, 0.9), 1.8972992331em 1.2436497188em 7px rgba(255, 189, 0, 0.9), 0.9847990134em 1.2023801586em 7px rgba(255, 0, 149, 0.9), 2.238380417em 0.8353325717em 7px rgba(255, 176, 0, 0.9), 2.3508897869em 2.3042724152em 7px rgba(0, 255, 114, 0.9), 2.115161423em 1.1871363714em 7px rgba(0, 225, 255, 0.9), 0.185986825em 0.0434268367em 7px rgba(0, 255, 80, 0.9), -0.079540693em 2.1413638447em 7px rgba(255, 0, 50, 0.9), -0.0634046073em 1.964875699em 7px rgba(255, 51, 0, 0.9);
    animation-duration: 42s;
    animation-delay: -23s;
  }

  head::after {
    text-shadow: 2.4379833623em 1.2043711656em 7px rgba(255, 200, 0, 0.9), 1.546482399em 0.6620052788em 7px rgba(117, 255, 0, 0.9), 0.4434403583em -0.068605586em 7px rgba(145, 0, 255, 0.9), 2.3340045549em 0.3149453868em 7px rgba(33, 255, 0, 0.9), 2.3896460488em 0.9811597269em 7px rgba(255, 235, 0, 0.9), 1.7324175489em -0.0529809906em 7px rgba(81, 255, 0, 0.9), 1.2646535516em -0.1008182942em 7px rgba(96, 0, 255, 0.9), 2.4084270163em 0.1865308776em 7px rgba(203, 0, 255, 0.9), 2.1029841269em 1.6514780445em 7px rgba(255, 65, 0, 0.9), -0.0058793098em -0.3678711042em 7px rgba(255, 0, 109, 0.9), 0.1158125951em 2.1203018522em 7px rgba(0, 255, 9, 0.9), -0.2177284118em 2.0650646372em 7px rgba(190, 0, 255, 0.9), 2.3754095666em 1.3414107442em 7px rgba(0, 135, 255, 0.9), -0.2236394454em -0.0438200309em 7px rgba(0, 255, 54, 0.9), 1.8216635268em 0.3131513109em 7px rgba(76, 0, 255, 0.9), 1.9829388139em 1.1869603109em 7px rgba(252, 0, 255, 0.9), 0.4599769267em 0.3087317052em 7px rgba(0, 255, 240, 0.9), 1.4835127245em 1.6638747776em 7px rgba(195, 0, 255, 0.9), 1.7959657983em 1.694838656em 7px rgba(37, 0, 255, 0.9), 1.1989750649em 0.4308525687em 7px rgba(51, 255, 0, 0.9), 1.2001098059em 0.1022588964em 7px rgba(255, 182, 0, 0.9), -0.0674340586em 1.0509929938em 7px rgba(255, 237, 0, 0.9), 1.5678226028em 1.2683454148em 7px rgba(0, 113, 255, 0.9), 2.411713829em 1.4861442243em 7px rgba(0, 56, 255, 0.9), -0.3059943571em 0.130773133em 7px rgba(0, 51, 255, 0.9), 1.0766228679em 2.004876712em 7px rgba(183, 0, 255, 0.9), -0.3299507838em 1.7716522301em 7px rgba(0, 110, 255, 0.9), -0.0820090254em 1.3903376239em 7px rgba(18, 255, 0, 0.9), 2.0590234379em 1.3607714494em 7px rgba(162, 255, 0, 0.9), -0.16366611em 0.1616988614em 7px rgba(0, 174, 255, 0.9), 0.3417562063em 0.729188669em 7px rgba(255, 17, 0, 0.9), 1.857869376em 0.6446193452em 7px rgba(35, 255, 0, 0.9), 1.3552033981em 0.9333637966em 7px rgba(176, 255, 0, 0.9), -0.3374398047em 1.5782687228em 7px rgba(240, 255, 0, 0.9), 0.547136463em 0.3805746724em 7px rgba(235, 0, 255, 0.9), 0.4754145584em -0.3721653654em 7px rgba(249, 0, 255, 0.9), 0.4864419251em 1.3438009431em 7px rgba(42, 0, 255, 0.9), 2.3838992793em 1.3406769709em 7px rgba(129, 255, 0, 0.9), 0.0028689618em 1.8849976789em 7px rgba(243, 255, 0, 0.9), 1.432123279em 1.1330164716em 7px rgba(248, 255, 0, 0.9), -0.2418324782em -0.3987622706em 7px rgba(0, 185, 255, 0.9);
    animation-duration: 41s;
    animation-delay: -19s;
  }
}
@media (max-width: 1024px) {
  body #content-wrapper main #greeting {
    height: 19vw;
  }
}
@media (max-width: 414px) {
  body #content-wrapper main #skill {
    margin-bottom: 10vw;
  }
  body #content-wrapper main #graphic #graphic-container #graphic-1, body #content-wrapper main #graphic #graphic-container #graphic-2 {
    width: 100%;
    height: 45vh;
  }
  body #content-wrapper main #graphic #graphic-container #graphic-1 iframe, body #content-wrapper main #graphic #graphic-container #graphic-2 iframe {
    width: 100%;
    height: 100%;
  }
}
/* hay vcl:)))
html {
	height: 100%;
	// max-height: 600px; 
	width: 1000px;
	background-color: hsla(200,40%,30%,.4);
	background-image:		
		url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
	background-repeat: repeat-x;
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}
  */