@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09, 0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}
@-webkit-keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09, 0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}
@keyframes aniGirl {
  0% {
    background-image: url("/images/ani1.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  16% {
    background-image: url("/images/ani2.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  32% {
    background-image: url("/images/ani3.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  48% {
    background-image: url("/images/ani4.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  64% {
    background-image: url("/images/ani5.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  80% {
    background-image: url("/images/ani6.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
@-webkit-keyframes aniGirl {
  0% {
    background-image: url("/images/ani1.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  16% {
    background-image: url("/images/ani2.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  32% {
    background-image: url("/images/ani3.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  48% {
    background-image: url("/images/ani4.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  64% {
    background-image: url("/images/ani5.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  80% {
    background-image: url("/images/ani6.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
* {
  cursor: url("/images/standard.cur"), auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
* body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  background-image: url(/images/bg.png);
  background-attachment: fixed;
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
* body #nav-container #menu {
  position: fixed;
  z-index: 999;
  right: 1em;
  top: 1em;
  font-size: 1.2em;
}
* body #nav-container nav {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  z-index: 999;
  right: 1em;
  top: 1em;
  width: 20vw;
  background-color: transparent;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(-45deg, #743ad5, #d53a9d);
  right: -25vw;
  overflow: hidden;
  transition: right 0.5s;
}
* body #nav-container nav a {
  text-decoration: none;
  color: black;
  padding: 0.5em;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(-45deg, #743ad5, #d53a9d);
}
* body #nav-container nav a:hover {
  background-image: linear-gradient(103.3deg, #a2baf5 30%, #ffadd6 55.7%, #fce1d0 81.8%);
}
* body #content-wrapper {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: auto;
  top: 75vh;
  backdrop-filter: blur(20px);
  box-shadow: -2px -2px 12px 6px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
* body #content-wrapper header #animation {
  position: absolute;
  top: -12em;
  width: 30vw;
  height: 30vw;
  display: inline-block;
  background-image: url("/images/ani1.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  animation: aniGirl 4s infinite;
  -webkit-animation: aniGirl 4s infinite;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(-45deg, #743ad5, #d53a9d);
}
* body #content-wrapper header h1 {
  position: absolute;
  top: -2em;
  right: 1.1em;
  font-size: 5vw;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09, 0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
  /* Additional styling */
  font-family: "Vibur", sans-serif;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  line-height: 1;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  -webkit-animation: pulsate 0.11s ease-in-out infinite alternate;
}
* body #content-wrapper main {
  font-size: 20px;
}
* body #content-wrapper main h2 {
  padding: 0.5em 0;
}
* body #content-wrapper main a {
  text-decoration: none;
  color: #f09;
  font-weight: bold;
}
* body #content-wrapper main a:hover {
  font-size: 2em;
  color: red;
  transition: 1s;
}
* body #content-wrapper main #greeting {
  position: relative;
  height: 30vh;
  width: 55vw;
  top: 1em;
  left: 35vw;
}
* body #content-wrapper main #greeting pre {
  font-size: 24px;
  font-family: "Vibur", sans-serif;
}
* body #content-wrapper main #skill {
  height: 50vh;
}
* body #content-wrapper main #skill ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}
* body #content-wrapper main #skill ul li {
  list-style: none;
}
* body #content-wrapper main p {
  padding: 1em;
}
* body #content-wrapper main #project {
  height: 22vh;
}
* body #content-wrapper main #certificate {
  height: 60vh;
}
* body #content-wrapper main #certificate #certi-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1em;
}
* body #content-wrapper main #certificate #certi-container img:hover {
  box-shadow: 2px 2px 5px 5px #0d102e;
}
* body #content-wrapper main #certificate #certi-container img {
  width: 20vw;
  height: 20vh;
}
* body #content-wrapper main #graphic #graphic-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1em;
}
* body #content-wrapper main #graphic #graphic-container img:hover {
  box-shadow: 2px 2px 5px 5px #0d102e;
}
* body #content-wrapper main #graphic #graphic-container #graphic-1, * body #content-wrapper main #graphic #graphic-container #graphic-2 {
  width: 45%;
  height: 45vh;
  margin: 0.5em;
}
* body #content-wrapper main #graphic #graphic-container #graphic-1 iframe, * body #content-wrapper main #graphic #graphic-container #graphic-2 iframe {
  width: 100%;
  height: 100%;
}
* body #content-wrapper main #game {
  height: 100vh;
}
* body #content-wrapper main #game #game-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1em;
}
* body #content-wrapper main #game #game-container img:hover {
  box-shadow: 2px 2px 5px 5px #0d102e;
}
* body #content-wrapper main #game #game-container img {
  width: 40vw;
  height: 50vh;
}
* body #content-wrapper footer {
  height: 30vh;
  margin-top: 5em;
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
* body #content-wrapper footer #contact div span {
  display: inline-block;
  padding: 0.5em 0em;
}
* body #content-wrapper footer #contact a {
  text-decoration: none;
}
* body #content-wrapper footer #contact a i {
  border-radius: 50%;
  background-color: black;
}
* body #content-wrapper footer #contact a i:hover {
  color: black;
  background-color: #fff;
}
* body #content-wrapper footer p {
  text-align: center;
}
* body #scroll-top {
  position: fixed;
  z-index: 999;
  right: 1em;
  bottom: 1em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding-top: 1em;
  width: 3em;
  height: 3em;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #fdeff9;
  visibility: hidden;
}
* body #scroll-top:hover {
  box-shadow: 1px 1px 10px black;
}
* body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1224px) {
  body {
    background-image: url(/images/bg2.JPG);
  }
  body #content-wrapper {
    top: 45vw;
  }
  body #content-wrapper header #animation {
    top: -15vw;
  }
  body #content-wrapper main {
    font-size: 18px;
  }
  body #content-wrapper main #greeting {
    left: 13vw;
  }
  body #content-wrapper main #greeting pre {
    font-size: 3vw;
  }
  body #content-wrapper main #skill ul {
    height: 45vh;
    flex-direction: column;
    text-align: center;
  }
  body #content-wrapper main #skill ul li {
    margin: 1em;
  }
  body #content-wrapper main #project {
    margin-top: 5vh;
  }
  body #scroll-top {
    visibility: visible !important;
  }
}
@media (max-width: 1024px) {
  body #nav-container #navbar {
    width: 20vh;
  }
  body #content-wrapper main #greeting {
    height: 19vw;
  }
}
@media (max-width: 414px) {
  body #content-wrapper main #skill {
    margin-bottom: 10vw;
  }
  body #content-wrapper main #graphic #graphic-container #graphic-1, body #content-wrapper main #graphic #graphic-container #graphic-2 {
    width: 100%;
    height: 45vh;
  }
  body #content-wrapper main #graphic #graphic-container #graphic-1 iframe, body #content-wrapper main #graphic #graphic-container #graphic-2 iframe {
    width: 100%;
    height: 100%;
  }
}