@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09, 0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}
@-webkit-keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09, 0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}
@keyframes aniGirl {
  0% {
    background-image: url("/images/ani1.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  16% {
    background-image: url("/images/ani2.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  32% {
    background-image: url("/images/ani3.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  48% {
    background-image: url("/images/ani4.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  64% {
    background-image: url("/images/ani5.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  80% {
    background-image: url("/images/ani6.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
@-webkit-keyframes aniGirl {
  0% {
    background-image: url("/images/ani1.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  16% {
    background-image: url("/images/ani2.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  32% {
    background-image: url("/images/ani3.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  48% {
    background-image: url("/images/ani4.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  64% {
    background-image: url("/images/ani5.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  80% {
    background-image: url("/images/ani6.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
@keyframes bgGrad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes bgGrad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes para {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%, 400px 0;
  }
}
@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
* {
  cursor: url("/images/standard.cur"), auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
* body {
  background-image: url(/images/bg.png);
  background-attachment: fixed;
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
* body #nav-container #menu {
  position: fixed;
  z-index: 999;
  right: 1em;
  top: 1em;
  font-size: 1.2em;
}
* body #nav-container nav {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  z-index: 999;
  right: 1em;
  top: 1em;
  width: 20vw;
  background-color: transparent;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(-45deg, #743ad5, #d53a9d);
  right: -16.5em;
  overflow: hidden;
  transition: right 0.5s;
}
* body #nav-container nav a {
  text-decoration: none;
  color: black;
  padding: 0.5em;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(-45deg, #743ad5, #d53a9d);
}
* body #nav-container nav a:hover {
  background-image: linear-gradient(103.3deg, #a2baf5 30%, #ffadd6 55.7%, #fce1d0 81.8%);
}
* body #content-wrapper {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: auto;
  top: 75vh;
  backdrop-filter: blur(20px);
  box-shadow: -2px -2px 12px 6px #fff;
  border-radius: 7px;
}
* body #content-wrapper header #animation {
  position: absolute;
  top: -12em;
  width: 30vw;
  height: 30vw;
  display: inline-block;
  background-image: url("/images/ani1.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  animation: aniGirl 4s infinite;
  -webkit-animation: aniGirl 4s infinite;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(-45deg, #743ad5, #d53a9d);
}
* body #content-wrapper header h1 {
  position: absolute;
  top: -2em;
  right: 1.1em;
  font-size: 5vw;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09, 0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
  /* Additional styling */
  font-family: "Vibur", sans-serif;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  line-height: 1;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  -webkit-animation: pulsate 0.11s ease-in-out infinite alternate;
}
* body #content-wrapper main {
  font-size: 20px;
}
* body #content-wrapper main h2 {
  padding: 0.5em 0;
}
* body #content-wrapper main a {
  text-decoration: none;
  color: #f09;
  font-weight: bold;
}
* body #content-wrapper main a:hover {
  font-size: 2em;
  color: red;
  transition: 1s;
}
* body #content-wrapper main #greeting {
  position: relative;
  height: 30vh;
  width: 55vw;
  top: 1em;
  left: 35vw;
}
* body #content-wrapper main #greeting pre {
  font-size: 24px;
  font-family: "Vibur", sans-serif;
}
* body #content-wrapper main #skill {
  height: 65vh;
}
* body #content-wrapper main #skill ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 1em;
}
* body #content-wrapper main #skill ul li {
  list-style: none;
  height: 100%;
  width: 100%;
}
* body #content-wrapper main p {
  padding: 1em;
}
* body #content-wrapper main #project {
  height: 22vh;
}
* body #content-wrapper main #certificate {
  height: 60vh;
}
* body #content-wrapper main #certificate #certi-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1em;
}
* body #content-wrapper main #certificate #certi-container img:hover {
  box-shadow: 2px 2px 5px 5px #0d102e;
}
* body #content-wrapper main #certificate #certi-container img {
  width: 20vw;
  height: 20vh;
}
* body #content-wrapper main #graphic #graphic-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1em;
}
* body #content-wrapper main #graphic #graphic-container img:hover {
  box-shadow: 2px 2px 5px 5px #0d102e;
}
* body #content-wrapper main #graphic #graphic-container #graphic-1, * body #content-wrapper main #graphic #graphic-container #graphic-2 {
  width: 45%;
  height: 45vh;
  margin: 0.5em;
}
* body #content-wrapper main #graphic #graphic-container #graphic-1 iframe, * body #content-wrapper main #graphic #graphic-container #graphic-2 iframe {
  width: 100%;
  height: 100%;
}
* body #content-wrapper main #game {
  height: 100vh;
}
* body #content-wrapper main #game #game-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1em;
}
* body #content-wrapper main #game #game-container img:hover {
  box-shadow: 2px 2px 5px 5px #0d102e;
}
* body #content-wrapper main #game #game-container img {
  width: 40vw;
  height: 50vh;
}
* body #content-wrapper footer {
  height: 32vh;
  margin-top: 5em;
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
* body #content-wrapper footer #contact div span {
  display: inline-block;
  padding: 0.5em 0em;
}
* body #content-wrapper footer #contact a {
  text-decoration: none;
}
* body #content-wrapper footer #contact a i {
  border-radius: 50%;
  background-color: black;
}
* body #content-wrapper footer #contact a i:hover {
  color: black;
  background-color: #fff;
}
* body #content-wrapper footer p {
  text-align: center;
  padding-bottom: 0.7em;
}
* body #scroll-top {
  position: fixed;
  z-index: 999;
  right: 1em;
  bottom: 1em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding-top: 1em;
  width: 3em;
  height: 3em;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #fdeff9;
  visibility: hidden;
}
* body #scroll-top:hover {
  box-shadow: 1px 1px 10px black;
}
* body::-webkit-scrollbar {
  display: none;
}

.d3-label {
  border-radius: 5px;
  margin: 5px 0;
  height: 25px;
}

.d3-bar {
  background-color: orange;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 5px 0;
  height: 25px;
}

@media (max-width: 1224px) {
  body,
head {
    z-index: -1;
    display: block;
    font-size: 52px;
    color: transparent;
    background-color: black;
  }

  body {
    background-image: none;
  }
  body #nav-container {
    color: #fff;
    font-size: 18px;
  }
  body #nav-container #navbar {
    background-color: black;
    width: 140px;
  }
  body #nav-container #navbar a {
    color: #fff;
  }
  body #content-wrapper {
    z-index: 2;
    color: #fff;
    top: 45vw;
  }
  body #content-wrapper header #animation {
    top: -15vw;
  }
  body #content-wrapper header h1 {
    font-size: 6vw;
  }
  body #content-wrapper main {
    font-size: 18px;
  }
  body #content-wrapper main #greeting {
    left: 13vw;
  }
  body #content-wrapper main #greeting pre {
    font-size: 3vw;
  }
  body #content-wrapper main #skill ul {
    flex-direction: column;
    text-align: center;
    position: relative;
  }
  body #content-wrapper main #skill ul li {
    margin: 1em;
  }
  body #content-wrapper main #project {
    margin-top: 15vw;
    margin-bottom: 3vw;
  }
  body #scroll-top {
    color: black;
    font-size: 18px;
    visibility: visible !important;
  }
  body footer {
    font-size: 18px;
  }

  head::before,
head::after,
body::before,
body::after {
    background-color: transparent;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: ".";
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
  }

  body::before {
    text-shadow: 0.0450582343em -0.2467463362em 7px rgba(186, 255, 0, 0.9), 0.898121952em 2.3848093923em 7px rgba(34, 255, 0, 0.9), 2.4773003863em 1.0412334906em 7px rgba(255, 0, 5, 0.9), 0.0710996261em 1.9725515061em 7px rgba(255, 61, 0, 0.9), 2.1378106686em 0.904013257em 7px rgba(0, 21, 255, 0.9), -0.0307189325em 2.4528776846em 7px rgba(255, 0, 8, 0.9), 1.2083484818em 0.4035468582em 7px rgba(255, 7, 0, 0.9), 1.2259481691em -0.0687995982em 7px rgba(203, 0, 255, 0.9), 2.2308878917em -0.0270231769em 7px rgba(255, 34, 0, 0.9), 1.5813504258em -0.0369317852em 7px rgba(114, 0, 255, 0.9), 0.2970205073em 1.8132165328em 7px rgba(0, 255, 56, 0.9), 0.282434648em 1.572034958em 7px rgba(0, 255, 223, 0.9), 0.2217259294em 1.9189639818em 7px rgba(255, 241, 0, 0.9), -0.2189713915em 0.5725307671em 7px rgba(0, 36, 255, 0.9), -0.3643517654em -0.3217508939em 7px rgba(255, 44, 0, 0.9), 2.4456448373em 2.1404138022em 7px rgba(255, 10, 0, 0.9), -0.4492708827em 1.1800848439em 7px rgba(255, 181, 0, 0.9), 0.990607952em -0.3887010551em 7px rgba(0, 255, 163, 0.9), 0.096608863em 0.3560656467em 7px rgba(255, 0, 83, 0.9), 0.5706637657em 0.7834691177em 7px rgba(255, 0, 212, 0.9), 1.9799741692em 2.013785547em 7px rgba(0, 255, 143, 0.9), 1.2412776413em 2.265283491em 7px rgba(0, 148, 255, 0.9), -0.1693682435em 2.0973129204em 7px rgba(0, 61, 255, 0.9), 0.298268399em 1.6357802109em 7px rgba(0, 230, 255, 0.9), 1.6641194376em -0.1601526268em 7px rgba(0, 255, 157, 0.9), 2.0561879843em 0.7793020652em 7px rgba(0, 142, 255, 0.9), 1.7889600646em 1.4631059033em 7px rgba(255, 0, 159, 0.9), 1.0386998974em 0.687411432em 7px rgba(0, 255, 237, 0.9), 1.4349247469em 1.2189509729em 7px rgba(255, 0, 207, 0.9), 1.8033428949em 2.4665445904em 7px rgba(255, 0, 49, 0.9), 0.1403731949em 1.6601905133em 7px rgba(255, 0, 173, 0.9), 1.9639188774em -0.4443730554em 7px rgba(255, 0, 162, 0.9), 1.4165417904em 1.7167044798em 7px rgba(255, 0, 21, 0.9), 1.6325242356em 2.2935330818em 7px rgba(255, 227, 0, 0.9), 2.0355798282em 1.7279369585em 7px rgba(78, 255, 0, 0.9), -0.0622170599em 0.7492699729em 7px rgba(255, 158, 0, 0.9), 0.2065418838em 0.899909729em 7px rgba(0, 38, 255, 0.9), 1.528622446em 1.6304967653em 7px rgba(255, 230, 0, 0.9), 1.0880700326em 1.2798853687em 7px rgba(175, 0, 255, 0.9), -0.2930664099em 0.2926716515em 7px rgba(219, 255, 0, 0.9), -0.2822477646em 0.6121563271em 7px rgba(71, 0, 255, 0.9);
    animation-duration: 44s;
    animation-delay: -27s;
  }

  body::after {
    text-shadow: 2.2272630623em 2.4897666485em 7px rgba(172, 255, 0, 0.9), 1.6028323614em 0.5853096872em 7px rgba(255, 0, 5, 0.9), 1.1100378636em 2.2143170488em 7px rgba(255, 0, 171, 0.9), 0.9658788954em -0.3370995844em 7px rgba(197, 255, 0, 0.9), 1.8783315243em -0.4644167456em 7px rgba(193, 255, 0, 0.9), 1.761137592em 2.4669981125em 7px rgba(255, 166, 0, 0.9), 2.3457976861em 2.3933307378em 7px rgba(255, 0, 156, 0.9), 0.0724088455em 0.4338288083em 7px rgba(0, 218, 255, 0.9), 0.4853426041em 1.9684444679em 7px rgba(0, 82, 255, 0.9), 2.1173369526em -0.0081678317em 7px rgba(255, 0, 164, 0.9), 2.1648330139em 1.7964221594em 7px rgba(255, 0, 235, 0.9), 0.3000143904em 2.2417949883em 7px rgba(0, 232, 255, 0.9), 0.8780789819em 0.9567218563em 7px rgba(138, 0, 255, 0.9), 1.5499741111em 0.2132828217em 7px rgba(48, 0, 255, 0.9), 1.4344185006em 1.9771576293em 7px rgba(243, 0, 255, 0.9), 0.6460164961em 2.0831079841em 7px rgba(255, 206, 0, 0.9), 0.7968310947em 0.2051557689em 7px rgba(234, 0, 255, 0.9), 2.2024246609em 1.9473588398em 7px rgba(255, 134, 0, 0.9), 2.3685821999em -0.1939592464em 7px rgba(255, 0, 87, 0.9), 1.8586155663em 2.4130577151em 7px rgba(43, 255, 0, 0.9), -0.0914975716em 0.0241645283em 7px rgba(255, 0, 126, 0.9), -0.2204452209em 1.1496920985em 7px rgba(0, 217, 255, 0.9), 1.7634535297em 1.6069824538em 7px rgba(255, 99, 0, 0.9), 0.3186148049em 1.5040671802em 7px rgba(255, 127, 0, 0.9), 2.1410554788em 1.6648814559em 7px rgba(255, 0, 19, 0.9), -0.2868468748em 1.488500814em 7px rgba(0, 255, 211, 0.9), 1.8549573783em 0.3163313725em 7px rgba(80, 255, 0, 0.9), 0.4986873895em 0.7721801377em 7px rgba(0, 20, 255, 0.9), 1.9412029179em 1.2164045196em 7px rgba(255, 88, 0, 0.9), 0.8065522737em 0.2527659413em 7px rgba(255, 0, 199, 0.9), 1.676871593em 2.3371804655em 7px rgba(255, 253, 0, 0.9), 2.2915620372em 1.1002013566em 7px rgba(161, 0, 255, 0.9), 1.6368139919em 0.8920013977em 7px rgba(255, 0, 35, 0.9), 1.8200132677em 2.0201813852em 7px rgba(46, 0, 255, 0.9), 1.3758063688em 1.4685027753em 7px rgba(255, 226, 0, 0.9), 1.0137983605em 0.4095956962em 7px rgba(0, 250, 255, 0.9), -0.1325882122em 0.4822563405em 7px rgba(200, 255, 0, 0.9), 2.2859860254em 2.119487169em 7px rgba(255, 166, 0, 0.9), 1.9314121164em -0.3832145222em 7px rgba(0, 255, 47, 0.9), 1.255133206em 0.6739698678em 7px rgba(255, 151, 0, 0.9), 2.2304771828em -0.239364779em 7px rgba(255, 251, 0, 0.9);
    animation-duration: 43s;
    animation-delay: -32s;
  }

  head::before {
    text-shadow: 2.2153940949em 1.0367230572em 7px rgba(183, 255, 0, 0.9), 0.9876986007em 0.0776471398em 7px rgba(191, 0, 255, 0.9), 0.0279684684em 0.2233956522em 7px rgba(255, 223, 0, 0.9), 0.3083109949em 0.9961952391em 7px rgba(206, 255, 0, 0.9), 0.2300534664em 0.7666314999em 7px rgba(255, 39, 0, 0.9), 1.0737929076em 2.4547845678em 7px rgba(0, 156, 255, 0.9), -0.2628020749em 1.9247896517em 7px rgba(37, 0, 255, 0.9), -0.4527310812em 0.0790172297em 7px rgba(4, 0, 255, 0.9), 0.2192438795em 0.7165137334em 7px rgba(255, 0, 51, 0.9), 0.0341178437em -0.1929082561em 7px rgba(0, 85, 255, 0.9), 1.143909112em 1.1889832628em 7px rgba(66, 255, 0, 0.9), 2.1714681003em 0.2196318796em 7px rgba(255, 0, 81, 0.9), 1.0768661334em -0.2766190508em 7px rgba(0, 90, 255, 0.9), 1.7655401069em -0.0638007523em 7px rgba(255, 0, 14, 0.9), 0.0603273985em 0.4520273851em 7px rgba(255, 9, 0, 0.9), 1.5527778856em 1.3093184962em 7px rgba(227, 0, 255, 0.9), 2.0432178657em 1.3799923649em 7px rgba(91, 0, 255, 0.9), 2.3066402547em -0.0472919565em 7px rgba(0, 47, 255, 0.9), -0.1014528338em 1.9003878742em 7px rgba(255, 0, 27, 0.9), -0.0049800459em 2.031424893em 7px rgba(255, 111, 0, 0.9), 0.5354941751em 1.0165935024em 7px rgba(255, 0, 170, 0.9), 0.3093866668em 2.1508776909em 7px rgba(255, 0, 11, 0.9), 1.5810242931em 2.1708492064em 7px rgba(255, 127, 0, 0.9), 2.3841364394em -0.293387312em 7px rgba(0, 255, 15, 0.9), 2.1374027682em 1.223931604em 7px rgba(234, 255, 0, 0.9), -0.1105905975em 1.5852307365em 7px rgba(255, 0, 151, 0.9), 0.9053613404em -0.2637537046em 7px rgba(255, 148, 0, 0.9), 1.6066236785em 1.965695908em 7px rgba(1, 0, 255, 0.9), -0.0290240116em 2.1419685085em 7px rgba(236, 255, 0, 0.9), 1.2539488131em 0.0555168118em 7px rgba(255, 97, 0, 0.9), 0.1562328459em 0.2142064952em 7px rgba(255, 0, 143, 0.9), -0.2901436913em 0.061785401em 7px rgba(137, 255, 0, 0.9), 0.5629484511em 0.5761466906em 7px rgba(182, 0, 255, 0.9), 0.0979812021em 1.8610506776em 7px rgba(164, 0, 255, 0.9), 1.5732072886em 1.692692925em 7px rgba(0, 62, 255, 0.9), 0.2853165906em 1.6826673798em 7px rgba(255, 99, 0, 0.9), 0.4505040588em 1.4035958852em 7px rgba(0, 255, 150, 0.9), 0.2743314104em 0.9147101633em 7px rgba(255, 228, 0, 0.9), 1.7947773746em 0.695899194em 7px rgba(72, 0, 255, 0.9), -0.1736170792em 2.2924804436em 7px rgba(0, 156, 255, 0.9), 0.8108640416em 1.7889704351em 7px rgba(194, 0, 255, 0.9);
    animation-duration: 42s;
    animation-delay: -23s;
  }

  head::after {
    text-shadow: 1.9376293728em 0.146146275em 7px rgba(255, 0, 91, 0.9), 0.539514645em 1.8553404965em 7px rgba(255, 144, 0, 0.9), 1.7110001171em 2.4709081703em 7px rgba(0, 226, 255, 0.9), -0.0011773129em 0.9159899372em 7px rgba(0, 65, 255, 0.9), 0.1115081876em 0.7862822202em 7px rgba(206, 0, 255, 0.9), 0.7434112283em 1.8250458409em 7px rgba(252, 255, 0, 0.9), 1.2389324211em 0.3641540875em 7px rgba(211, 0, 255, 0.9), -0.3674103408em 2.0581533122em 7px rgba(0, 63, 255, 0.9), 0.707307022em 2.2908943274em 7px rgba(0, 255, 50, 0.9), 2.01644399em 0.0409570856em 7px rgba(108, 0, 255, 0.9), 1.2896928932em -0.0125188633em 7px rgba(109, 255, 0, 0.9), -0.0955084748em 0.6707695757em 7px rgba(0, 254, 255, 0.9), -0.4092991739em 1.55350357em 7px rgba(244, 0, 255, 0.9), 0.5068544727em -0.3629904196em 7px rgba(255, 0, 182, 0.9), 2.0674809905em 0.9856205941em 7px rgba(149, 0, 255, 0.9), 0.5606362482em 1.3096824932em 7px rgba(0, 107, 255, 0.9), 0.695361278em 0.0803262506em 7px rgba(0, 255, 24, 0.9), 0.2549474806em 1.9455179409em 7px rgba(0, 29, 255, 0.9), 0.2245116057em 1.8920438272em 7px rgba(250, 255, 0, 0.9), -0.1462838742em 2.3131981726em 7px rgba(0, 255, 58, 0.9), 1.543024661em 0.6392223469em 7px rgba(255, 0, 39, 0.9), -0.3259405178em 0.3031358837em 7px rgba(255, 5, 0, 0.9), 2.1443142825em 0.270987616em 7px rgba(255, 0, 164, 0.9), 2.1711222921em 0.0064272307em 7px rgba(255, 0, 233, 0.9), 0.753106808em 0.9771614542em 7px rgba(255, 242, 0, 0.9), -0.1320930879em 2.0646767354em 7px rgba(255, 19, 0, 0.9), -0.3174392567em 1.8059608158em 7px rgba(0, 255, 7, 0.9), 1.8962009086em 0.0030210106em 7px rgba(255, 0, 58, 0.9), -0.1753615932em 1.2257098539em 7px rgba(180, 255, 0, 0.9), 0.2310741908em 2.2369721693em 7px rgba(32, 0, 255, 0.9), 1.6310600959em 2.0912749219em 7px rgba(132, 0, 255, 0.9), 1.5889793708em 2.1468108564em 7px rgba(0, 13, 255, 0.9), 1.5530339122em -0.4346352786em 7px rgba(0, 255, 230, 0.9), 2.1076538426em -0.0199845242em 7px rgba(0, 39, 255, 0.9), 0.4182774164em -0.2287900484em 7px rgba(0, 218, 255, 0.9), 2.4511463944em -0.0057502949em 7px rgba(49, 255, 0, 0.9), 1.8689569269em 1.5777117772em 7px rgba(88, 255, 0, 0.9), 0.1823717849em 0.6742500409em 7px rgba(206, 255, 0, 0.9), 0.5326104372em 1.5941939993em 7px rgba(220, 255, 0, 0.9), 2.1333872264em -0.4919648835em 7px rgba(53, 0, 255, 0.9), 2.1920564191em 0.9078175473em 7px rgba(56, 255, 0, 0.9);
    animation-duration: 41s;
    animation-delay: -19s;
  }
}
@media (max-width: 1024px) {
  body #content-wrapper main #greeting {
    height: 19vw;
  }
  body #content-wrapper main #skill {
    height: 85vh;
  }
  body #content-wrapper main #skill ul {
    height: 70vh;
    top: 4vh;
  }
}
@media (max-width: 414px) {
  body #content-wrapper main #skill {
    height: 90vh;
  }
  body #content-wrapper main #skill ul {
    height: 45vh;
    top: 19vh;
  }
  body #content-wrapper main #graphic #graphic-container #graphic-1, body #content-wrapper main #graphic #graphic-container #graphic-2 {
    width: 100%;
    height: 45vh;
  }
  body #content-wrapper main #graphic #graphic-container #graphic-1 iframe, body #content-wrapper main #graphic #graphic-container #graphic-2 iframe {
    width: 100%;
    height: 100%;
  }
}
@media (max-height: 414px) {
  body #content-wrapper main #skill {
    height: 90vw;
  }
  body #content-wrapper main #skill ul {
    top: 25vw;
  }
}
/* hay vcl:)))
html {
	height: 100%;
	// max-height: 600px; 
	width: 1000px;
	background-color: hsla(200,40%,30%,.4);
	background-image:		
		url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
	background-repeat: repeat-x;
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}
  */